@keyframes moveleft {
  from {
    transform: translateX(15%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveup {
  from {
    transform: translateY(55%);
  }
  to {
    transform: translateY(0);
  }
}
.square {
  width: 200px;
  height: 200px;
  background: orange;
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 1s 1;
  }
}