@keyframes moveleft {
  from {
    transform: translateX(15%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveup {
  from {
    transform: translateY(55%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveleftAbout {
  from {
    transform: translateX(15%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveupAbout {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveCircleLeft {
  from {
    transform: translateX(85%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveCircleRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(85%);
  }
}
